@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style for element */
.text-color {
  color: rgb(13, 19, 33);
}

#first-btn {
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  box-sizing: border-box;
  cursor: pointer;
}

/* Nav Style Start here */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px;
}

nav ul {
  display: flex;
}

.nav-title {
  font-size: 24px;
  font-weight: 800;
}
nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

/* Nav style end */

/* first section style start */

.first-section-container {
  width: 1240px;
  height: 652px;
  background-image: url("/images/herobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-section-content {
  width: 1240px;
  height: 581px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.first-section-title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
.first-section-description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
